body {
    height: max-content;
    height: 100vh;
    margin: 0%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.containertutto{
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}



.containersole {
    transform: translate();
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.sole {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    animation: orbita 120s linear infinite
}


@keyframes orbita{
    to {transform: rotate(360deg);
    }
}

.orbitamercurio{
    font-size: 10px;
    border-width: 2px;
    border-color: aliceblue;
    height: 250px;
    width: 250px;
    position: relative;
    animation: orbita 20s linear infinite;
}

.mercurio{
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    animation:  orbita 2.5s linear infinite;
    background-color: rgba(255, 93, 29, 0.63);
}
